body {
  height: 536px;
  width: 348px;
  margin: 0;
  padding: 1.5rem;
  overflow: auto;
  overflow-x: hidden;
  border-radius: 1rem;

  .color-primary {
    color: #2f54eb;
  }
}

.sources-card {
  text-align: center;
  cursor: pointer;

  .ant-ribbon {
    top: -8px;
  }

  .ant-card {
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    .ant-card {
      background-color: #2f54eb;
    }
  }

  &.enable {
    .ant-card {
      border-color: #2f54eb;
    }
  }

  &.disabled {
    cursor: default;
    .ant-card {
      background: rgba(0, 0, 0, 0.02);

      .ant-card-body {
        opacity: 0.5;
      }
    }
  }
}
